.accordion {
  display: flex;
  flex-direction: column;
  max-width: 1028px;
  gap: 10px;

  @include vp-1439 {
    max-width: 678px;
  }

  @include vp-767 {
    max-width: 290px;
  }
}

.accordion__element-wrapper {
  padding: 41px 39px 37px;
  min-width: 1028px;

  color: $color-default-blue;

  border-radius: 16px;
  border: 1px solid $color-default-blue;

  cursor: pointer;

  &--wide {
    padding: 32px 39px 32px;
  }

  @include hover-focus {
    background-color: $color-default-white;
  }

  @include active {
    color: $color-active;
    background-color: $color-default-white;
  }

  @include vp-1439 {
    padding: 35px 29px 23px;
    min-width: 678px;

    &--wide {
      padding: 23px 29px 25px;
    }
  }

  @include vp-767 {
    padding: 21px 14px 17px;
    min-width: 290px;
    border-radius: 14px;

    &--wide {
      padding: 19px 14px 19px;
    }
  }
}

.accordion__button {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  border: none;
  color: inherit;
  background-color: $color-transparent;

  cursor: pointer;
}

.accordion__button span {
  max-width: 700px;
  min-height: 40px;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-align: start;

  @include vp-1439 {
    max-width: 500px;
    font-size: 22px;
    line-height: 26px;
  }

  @include vp-767 {
    max-width: 190px;
    font-size: 16px;
    line-height: 18px;
  }
}

.accordion__button-icon {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid $color-default-blue;
  background-color: $color-default-blue;

  &::before {
    position: absolute;
    right: 19px;
    content: '';
    width: 1px;
    height: 18px;

    background-color: $color-default-white;
  }

  &::after {
    position: absolute;
    right: 11px;
    content: '';
    width: 18px;
    height: 1px;

    background-color: $color-default-white;
  }
}

.accordion__element-wrapper:hover .accordion__button-icon,
.accordion__element-wrapper:focus .accordion__button-icon {
  background-color: $color-default-white;

  &::before {
    background-color: $color-default-blue;
  }

  &::after {
    background-color: $color-default-blue;
  }
}

.accordion__element-wrapper:active .accordion__button-icon {
  background-color: $color-active;

  &::before {
    background-color: $color-default-white;
  }

  &::after {
    background-color: $color-default-white;
  }
}

.accordion__element-wrapper:has(.accordion__button:hover),
.accordion__element-wrapper:has(.accordion__button:focus) {
  background-color: $color-default-white;
}

.accordion__element-wrapper:has(.accordion__button:active) {
  background-color: $color-default-white;
  color: $color-active;
}

.accordion__button:hover .accordion__button-icon,
.accordion__button:focus .accordion__button-icon {
  background-color: $color-default-white;

  &::before {
    background-color: $color-default-blue;
  }

  &::after {
    background-color: $color-default-blue;
  }
}

.accordion__button:active .accordion__button-icon {
  background-color: $color-active;

  &::before {
    background-color: $color-default-white;
  }

  &::after {
    background-color: $color-default-white;
  }
}

.accordion__element.is-active .accordion__button {
  padding-bottom: 10px;

  @include vp-767 {
    padding-bottom: 12px;
  }
}

.accordion__element.is-active .accordion__element-wrapper {
  padding-top: 42px;
  padding-bottom: 32px;
  background-color: $color-default-blue;
  color: $color-default-alabaster;

  @include hover-focus {
    background-color: $color-default-blue;
  }

  @include active {
    background-color: $color-active;
  }

  @include vp-1439 {
    padding: 35px 29px 25px;
  }

  @include vp-767 {
    padding: 21px 14px 15px;
  }
}

.accordion__element.is-active span {
  color: $color-default-white;
}

.accordion__element.is-active .accordion__button-icon {
  background-color: $color-default-white;
  &::before {
    opacity: 0;
  }

  &::after {
    background-color: $color-default-blue;
  }
}

.accordion__element.is-active:hover .accordion__button-icon,
.accordion__element.is-active:focus .accordion__button-icon {
  background-color: $color-default-blue;
  border-color: $color-default-white;

  &::after {
    background-color: $color-default-white;
  }
}

.accordion__element.is-active:active .accordion__button-icon {
  background-color: $color-default-white;

  &::after {
    background-color: $color-active;
  }
}

.accordion__element.is-active:has(.accordion__button:hover),
.accordion__element.is-active:has(.accordion__button:focus) {
  background-color: $color-default-white;
}

.accordion__element.is-active:has(.accordion__button:active) {
  background-color: $color-default-white;
  color: $color-active;
}

.accordion__button:hover .accordion__button-icon,
.accordion__button:focus .accordion__button-icon {
  background-color: $color-default-white;

  &::before {
    background-color: $color-default-blue;
  }

  &::after {
    background-color: $color-default-blue;
  }
}

.accordion__button:active .accordion__button-icon {
  background-color: $color-active;

  &::before {
    background-color: $color-default-white;
  }

  &::after {
    background-color: $color-default-white;
  }
}

.accordion__wrapper p {
  margin: 0;
  max-width: 690px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: $color-default-alabaster;

  @include vp-1439 {
    max-width: 587px;
    line-height: 20px;
  }

  @include vp-767 {
    max-width: 260px;
    font-size: 14px;
  }
}
