.button {
  display: inline-flex;
  gap: 30px;
  padding: 3px 4px 3px 30px;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  color: $color-default-blue;
  text-transform: uppercase;

  background-color: $color-transparent;
  border: 1px solid;
  border-radius: 30px;
  cursor: pointer;

  transition: all 0.3s ease;

  &:disabled,
  &--disabled {
    color: $color-disabled;
    pointer-events: none;
  }

  @include hover-focus {
    background-color: $color-default-blue;
    color: $color-default-white;
  }

  @include active {
    background-color: $color-default-blue;
    color: rgba(255, 255, 255, 0.7);
  }

  @include vp-767 {
    gap: 20px;
    padding: 3px 4px 3px 20px;

    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.button span:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  color: $color-default-white;
  background-color: $color-default-blue;
  border-radius: 50%;
  flex-shrink: 0;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.button:disabled span:not(:first-child),
.button--disabled span:not(:first-child) {
  background-color: $color-disabled;
}

.button:hover span:not(:first-child),
.button:focus span:not(:first-child) {
  background-color: $color-default-white;
}

.button:active span:not(:first-child) {
  background-color: $color-default-white;
}

.button svg {
  stroke: $color-default-white;
}

.button:hover svg,
.button:focus svg {
  stroke: $color-default-blue;
  transform: rotate(45deg);
}

.button:active svg {
  stroke: rgba(49, 109, 194, 0.7);
  transform: rotate(45deg);
}
