.footer {
  margin-top: 120px;

  @include vp-1439 {
    margin-top: 100px;
  }

  @include vp-767 {
    margin: 60px 15px 0;
  }
}

.footer__container {
  position: relative;
  padding-bottom: 63px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include vp-1439 {
    padding-bottom: 50px;
    gap: 21px;
  }

  @include vp-767 {
    padding: 0 0 60px;
    gap: 17px;
  }
}

.footer__main-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  align-items: center;

  @include vp-1439 {
    justify-content: space-between;
    align-items: flex-start;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 9px;
    align-items: center;
  }
}

.footer__nav {
  max-width: 710px;

  @include vp-1439 {
    max-width: 528px;
  }

  @include vp-767 {
    max-width: 290px;
  }
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include vp-1439 {
    gap: 15px;
  }

  @include vp-767 {
    column-gap: 30px;
    row-gap: 10px;
    justify-content: center;
  }
}

.footer__nav-link {
  display: block;
  padding: 0 0 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: $color-default-charcoal;

  @include hover-focus {
    color: $color-default-blue;
  }

  @include active {
    color: $color-active;
  }

  @include vp-1439 {
    padding: 15px 0;
    line-height: 20px;
  }

  @include vp-767 {
    padding: 0;
    font-size: 14px;
  }
}

.footer__social {
  margin-left: auto;

  @include vp-1439 {
    position: absolute;
    right: 45px;
    bottom: 50px;
  }

  @include vp-767 {
    right: calc(50% - 49px);
    bottom: 60px;
  }
}

.footer__copy-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @include vp-1439 {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    max-width: 500px;
  }

  @include vp-767 {
    margin: 0 auto;
    max-width: 290px;
    padding-bottom: 41px;
    align-items: center;
  }
}

.footer__rights {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.6;

  @include vp-1439 {
    font-size: 12px;
    line-height: 12px;
  }

  @include vp-767 {
    line-height: 14px;
  }
}

.footer__privacy {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $color-default-charcoal;
  border-bottom: 1px solid;

  @include hover-focus {
    color: $color-default-blue;
  }

  @include active {
    color: $color-active;
  }

  @include vp-1439 {
    order: -1;
    font-size: 12px;
    line-height: 12px;
  }

  @include vp-767 {
    line-height: 14px;
  }
}
