.form {
  margin-top: 120px;

  @include vp-1439 {
    margin-top: 100px;
  }

  @include vp-767 {
    margin-top: 60px;
  }
}

.form__container {
  position: relative;
}

.form__slide-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  right: 100px;
  z-index: -1;

  @include vp-1439 {
    right: 45px;
    left: 45px;
  }

  @include vp-767 {
    right: 0;
    left: 0;
  }
}

.form__slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.form__wrapper {
  width: 498px;
  min-height: 803px;
  padding: 70px 74px 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  color: $color-default-white;
  border-radius: 16px;
  background-color: $color-default-blue;

  @include vp-1439 {
    padding: 50px 45px;
    min-height: 780px;
    width: 442px;
  }

  @include vp-767 {
    padding: 43px 15px;
    width: 290px;
    min-height: 753px;
  }
}

.form__wrapper h2 {
  margin: 0;
  padding: 10px 0 13px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

  @include vp-1439 {
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 3px;
  }
}

.form__wrapper p {
  margin: 0;
  padding-bottom: 8px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @include vp-1439 {
    padding-bottom: 15px;
    line-height: 20px;
  }

  @include vp-767 {
    padding-bottom: 11px;
    font-size: 14px;
  }
}

.form__wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include vp-1439 {
    gap: 14px;
  }

  @include vp-767 {
    gap: 20px;
  }
}

.form__field label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0.8;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @include vp-1439 {
    gap: 8px;
    line-height: 20px;
  }

  @include vp-767 {
    gap: 12px;
    font-size: 12px;
    line-height: 14px;
  }
}

.form__field input,
.form__field textarea {
  width: 350px;
  min-height: 50px;

  color: $color-default-white;
  background-color: $color-transparent;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  &:disabled {
    opacity: 0.4;
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
  }

  @include hover-focus {
    border-color: $color-default-white;
  }

  @include active {
    border-color: $color-default-white;
  }

  @include vp-767 {
    width: 260px;
  }
}

.form__field--textarea {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include vp-1439 {
    gap: 8px;
  }
}

.form__field--textarea label {
  @include vp-767 {
    padding-bottom: 4px;
  }
}

.form__field textarea {
  min-height: 98px;
  padding: 5px 10px;
  min-width: 300px;
  outline: none;
  transition: border-color 0.3s ease;

  @include vp-767 {
    min-height: 94px;
  }
}

.form__select {
  width: 350px;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;

  @include vp-767 {
    width: 260px;
  }
}

.form__agreement {
  padding: 0;
  max-width: 350px;

  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;

  @include vp-767 {
    width: 260px;
    padding-bottom: 10px;
  }
}

.form__button {
  justify-content: space-between;
  color: $color-default-white;

  @include hover-focus {
    color: $color-default-blue;
    background-color: $color-default-white;
  }

  @include active {
    background-color: $color-default-white;
    color: rgba(49, 109, 194, 0.7);
  }
}

.form__button span:first-child {
  width: 240px;

  @include vp-767 {
    width: 162px;
  }
}

.form__button span:not(:first-child) {
  background-color: $color-default-white;
}

.form__button svg {
  stroke: $color-default-blue;
}

.form__button:hover span:not(:first-child),
.form__button:focus span:not(:first-child) {
  background-color: $color-default-blue;
}

.form__button:hover svg,
.form__button:focus svg {
  stroke: $color-default-white;
}

.form__button:active span:not(:first-child) {
  background-color: $color-default-blue;
}

.form__button:active svg {
  stroke: rgba(255, 255, 255, 0.7);
}

.form__field.is-invalid input,
.form__field.is-invalid textarea,
.form__select.is-invalid .custom-select__button {
  border: 1px solid $color-error;
  background-color: rgba(255, 94, 102, 0.2);
}

.form__field.is-invalid .input-message.is-invalid,
.form__select.is-invalid .input-message.is-invalid,
.form__agreement.is-invalid .input-message.is-invalid {
  color: $color-default-white;
  opacity: 1;
}
