.header {
  margin-bottom: -84px;
  z-index: 30;
  width: 100%;

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  @include vp-767 {
    margin-bottom: -74px;
  }
}

.header.is-hidden {
  transform: translateY(-100%);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @include vp-767 {
    padding-top: 20px;
  }
}

.header__overlay {
  display: none;

  .header.header--sticky.is-open & {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 29, 51, 0.4);
  }
}

.header__nav-list {
  list-style: none;
  margin: 0;
  display: none;

  .is-open & {
    position: absolute;
    top: 88px;

    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 286px;
    padding: 35px 25px;

    background-color: $color-default-blue;
    color: $color-default-white;
  }

  @include vp-767 {
    .is-open & {
      width: 290;
    }
  }
}

.header__nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: $color-default-white;
  opacity: 0.7;

  &--opened {
    font-weight: 500;
    opacity: 1;
  }

  @include hover-focus {
    font-weight: 500;
    opacity: 1;
  }
}

.header__nav-link svg {
  transform: rotate(180deg);
  stroke: $color-default-white;
}

.header__nav-link + .header__sub-list {
  display: none;
}

.header__nav-link--opened svg {
  transform: unset;
}

.header__nav-link--opened + .header__sub-list {
  display: flex;
}

.header__sub-list {
  list-style: none;
  margin: 0;
  padding: 20px 0 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__sub-list .header__nav-link {
  text-transform: unset;
  opacity: 0.6;

  @include hover-focus {
    font-weight: 400;
    opacity: 0.9;
  }
}

.header__nav {
  display: flex;
}

.header__burger {
  position: relative;
  min-height: 54px;
  width: 134px;
  display: inline-flex;
  padding: 2px 70px 2px 20px;
  justify-content: center;
  align-items: center;

  color: $color-default-blue;
  background-color: $color-default-white;
  border: 1px solid $color-default-blue;
  border-radius: 30px;
  cursor: pointer;

  transition: all 0.3s ease;

  &:disabled {
    color: $color-disabled;
    pointer-events: none;
  }

  @include hover-focus {
    background-color: $color-default-blue;
    color: $color-default-white;
  }

  @include active {
    background-color: $color-default-blue;
    color: rgba(255, 255, 255, 0.7);
  }
}

.header__burger svg {
  stroke: $color-default-white;
}

.header__burger:disabled span:not(:first-child) {
  background-color: $color-disabled;
}

.header__burger:hover span:not(:first-child),
.header__burger:focus span:not(:first-child) {
  background-color: $color-default-white;
}

.header__burger:hover svg,
.header__burger:focus svg {
  stroke: $color-default-blue;
}

.header__burger:active span:not(:first-child) {
  background-color: $color-default-white;
}

.header__burger:active svg {
  stroke: rgba(49, 109, 194, 0.7);
}

.header__burger-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}

.header__burger-icon {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;

  opacity: 1;
  color: $color-default-white;
  background-color: $color-default-blue;
  border-radius: 50%;
  transition: all 0.3s ease;
  pointer-events: none;
  cursor: pointer;

  &--close {
    top: 50%;
    opacity: 0;
    background-color: $color-default-white;
  }
}

.is-open .header__burger-icon--close {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease 0.2s;
}

.is-open .header__nav {
  @include vp-767 {
    margin-left: auto;
  }
}

.is-open .header__logo {
  @include vp-767 {
    display: none;
  }
}

.is-open .header__burger svg {
  stroke: $color-default-blue;
}

.is-open .header__burger {
  width: 286px;
  justify-content: flex-start;
  color: $color-default-white;
  background-color: $color-default-blue;

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-default-blue;
    border-color: $color-default-white;
  }

  @include active {
    background-color: $color-default-white;
    color: rgba(49, 109, 194, 0.7);
  }

  @include vp-767 {
    width: 290px;
  }
}

.is-open .header__burger:hover span:not(:first-child),
.is-open .header__burger:focus span:not(:first-child) {
  background-color: $color-default-blue;
}

.is-open .header__burger:hover svg,
.is-open .header__burger:focus svg {
  stroke: $color-default-white;
}

.is-open .header__burger:active span:not(:first-child) {
  background-color: $color-default-blue;
}

.is-open .header__burger:active svg {
  stroke: rgba(255, 255, 255, 0.7);
}
