.programs__container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include vp-1439 {
    margin-top: 100px;
    padding-right: 0;
  }

  @include vp-767 {
    margin-top: 60px;
    padding-right: 15px;
    gap: 30px;
  }
}

.programs__text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include vp-1439 {
    padding-right: 45px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.programs__text-wrapper h2 {
  margin: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  color: $color-default-blue;

  @include vp-1439 {
    font-size: 34px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.programs__button {
  @include vp-767 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.programs__swiper {
  position: relative;
  width: 100%;
  max-width: $vp-1440;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 44px;

  @include vp-1439 {
    gap: 38px;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: stretch;
  padding-bottom: 62px;

  @include vp-767 {
    padding-bottom: 72px;
  }
}

.programs__slide {
  position: relative;

  display: flex;
  align-items: flex-end;
  width: 392px;
  height: auto;
  min-height: 420px;

  border-radius: 12px;

  @include vp-1439 {
    width: 324px;
  }

  @include vp-767 {
    width: 320px;
    min-height: 405px;
  }
}

.programs__slide-content {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: end;
  flex-wrap: wrap;
  height: auto;
  max-width: 392px;
  padding: 20px 51px 20px 20px;

  @include vp-1439 {
    max-width: 324px;
    padding-right: 41px;
  }

  @include vp-767 {
    max-width: 290px;
    padding: 18px 10px;
  }
}

.programs__angle {
  margin-top: auto;
  width: 18px;
  height: 18px;

  & svg {
    fill: $color-default-white;
  }
}

.programs__slide-content h2 {
  margin: 0;
  width: 194px;
  padding: 18px 18px 6px 18px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: $color-default-blue;
  background-color: $color-default-white;
  border-radius: 12px 12px 0px 0px;

  @include vp-1439 {
    width: 173px;
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    width: 146px;
    font-size: 16px;
    line-height: 18px;
  }
}

.programs__slide-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding: 12px 17px 15px;
  background-color: $color-default-white;
  border-radius: 0px 12px 12px 12px;
}

.programs__slide-content p {
  max-width: 240px;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @include vp-1439 {
    max-width: 181px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.programs__slide-button {
  cursor: pointer;

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: $color-default-blue;
    border-radius: 44px;
  }

  & svg {
    stroke: $color-default-white;
  }

  &--disabled {
    color: $color-disabled;
    pointer-events: none;

    & span {
      background-color: $color-disabled;
    }
  }

  @include hover-focus {
    & span {
      background-color: $color-default-white;
    }

    & svg {
      stroke: $color-default-blue;
      transform: rotate(45deg);
    }
  }

  @include active {
    & span {
      background-color: $color-default-white;
    }

    & svg {
      stroke: rgba(49, 109, 194, 0.7);
      transform: rotate(45deg);
    }
  }
}

.programs__slide-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.programs__slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.programs__swiper-button-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 55;

  width: 106px;
  height: 22px;
  background-color: $color-default-alabaster;

  @include vp-1439 {
    width: 163px;
  }

  @include vp-767 {
    top: 15px;
    width: 52px;
  }
}

.programs__swiper-button {
  left: unset;
  right: 32px;
  top: unset;
  bottom: 0;

  width: 22px;
  height: 22px;
  padding: 6px;
  background-color: $color-default-alabaster;

  &--next {
    right: 0;
    bottom: 0;
  }

  & svg {
    stroke: $color-default-blue;
  }

  &::after {
    content: none;
  }

  &--next svg {
    transform: rotate(180deg);
  }

  &:disabled {
    & svg {
      stroke: $color-disabled;
    }
  }

  @include hover-focus {
    background-color: $color-default-white;
    border-radius: 30px;
  }

  @include active {
    background-color: $color-default-white;
    border-radius: 30px;

    & svg {
      opacity: 0.7;
    }
  }

  @include vp-1439 {
    right: 87px;

    &--next {
      right: 45px;
    }
  }

  @include vp-767 {
    right: 32px;

    &--next {
      right: 0;
    }
  }
}

.programs__swiper-scrollbar.swiper-scrollbar {
  bottom: 11px;
  height: 2px;
  background-color: rgba(49, 109, 194, 0.2);

  @include vp-767 {
    display: none;
  }
}

.programs__swiper .swiper-scrollbar-drag {
  background-color: $color-default-blue;
  opacity: 1;
}
