// Viewports

$vp-320: 320px;
$vp-768: 768px;
$vp-1440: 1440px;

// Colors

$color-default-charcoal: #484848;
$color-default-white: #ffffff;
$color-default-alabaster: #f0efe9;
$color-default-blue: #316dc2;
$color-transparent: rgba(255, 255, 255, 0);
$color-disabled: #a9afb7;
$color-active: #275699;
$color-error: #ff5e66;

// Typography

$ff-manrope: "Manrope", "Arial", sans-serif;
